body{
    margin-top: 20%;
    background-color: #A23E34;
}
#nav-color{
border-bottom: 3px solid #108D90;
background-color: #BFDED3;
opacity: 0.96;
margin-bottom: 2%;
}
#btn-color{
    background-color: #A23E34;
}
.jumbotron {
    border-radius: 1%;
    border: 3px solid #108D90;
    background-color: #BFDED3;
}
#message-board{
    margin-top: 10%;
}
.logo{
border-radius: 1%;
border: 3px solid #A23E34;
}
.showcase-right, .showcase-left {
    margin-top: 10%;
    border-radius: 3px;
    border: 3px solid #108D90;
    max-height: 100%;
    padding: 20px;
    background-color: #BFDED3;
  }
  /* Image Boxes */
  #staff-photo{
      display: block;
      margin: auto;
      margin-bottom: 2%;
  }
